body, table {
    margin: 0;
}

h2 {
    margin: 0;
    font-size: 100%;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

input {
    margin: 0;
    width: 0;
}

table {
    width: 95%;
    /*align-items: center;*/
}

table td {
    color: inherit;
    font-size: 16px;
    text-align: center;
}

[id="local"] {
    background: lightyellow;
    color: orangered;
}

a {
    text-decoration: none;
    color: inherit;
    letter-spacing: 2px;
    word-spacing: 4px;
}


tr:nth-child(even) {
    background-color: #f2f2f2;
}

td:hover {
    background-color: #ddd;
    font-size: larger;
}

.box {
    width: 100%;
    border: 1px solid #999;
    overflow: hidden;
}

.nav {
    margin-left: -1px;
    font: 14px "微软雅黑";
    overflow: hidden;
    background-color: #f1f1f1;
}

.navI {
    float: left;
    width: 33.33%;
    box-sizing: border-box;
}

.navI-tit {
    display: block;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    border-left: 1px solid #cecece;
    border-bottom: 1px solid #cecece;
}

.navI-txt {
    position: absolute;
    width: 100%;
    height: 95%;
    text-indent: 2em;
    left: 0;
    line-height: 2;
    background: #fff;
}

.ml1 {
    margin-left: -100%;
}

.ml2 {
    margin-left: -200%;
}

/*重点代码*/
.navI-radio {
    display: none;
}

.navI-radio:checked + .navI-tit {
    background: #fff;
    border-bottom: none;
}

.navI-radio:checked ~ .navI-txt {
    z-index: 1;
}