body, p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

input {
    margin: 0;
    padding: 0;
    border: none;
}

.box {
    width: 572px;
    border: 1px solid #999;
    font: 14px "微软雅黑";
    overflow: hidden;
}

.nav-tit {
    margin-left: -1px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #f1f1f1;
    overflow: hidden;
}

.nav-titI {
    box-sizing: border-box;
    float: left;
    width: 33.333%;
    border-left: 1px solid #cecece;
    border-bottom: 1px solid #cecece;
    cursor: pointer;
}

.nav-txt {
    height: 200px;
}

.nav-txtI {
    height: 200px;
    display: block;
    width: 100%;
    text-indent: 2em;
    line-height: 2;
}

/*重点内容*/
.nav-txt {
    overflow: hidden;
}

.nav-titI:hover {
    background-color: #fff;
    border-bottom: none;
}