/* Modified: 2025-07-10 18:59:30*/

/* * { */
/* scrollbar-width: thin; */
/* scrollbar-color: blue orange; */
/* } */
/* *::-webkit-scrollbar { */
/* width: 10px; */
/* } */
/* *::-webkit-scrollbar-track { */
/* background: orange; */
/* } */
/* *::-webkit-scrollbar-thumb { */
/* background-color: blue; */
/* border-radius: 20px; */
/* border: 3px solid orange; */
/* } */
/*  */

#style-1::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

#style-1::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

#style-1::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}

/*
 *  STYLE 16
 */

#style-16::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #f5f5f5;
  border-radius: 10px;
}

#style-16::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

#style-16::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #fff;
  background-image: -webkit-linear-gradient(
    top,
    #e4f5fc 0%,
    #bfe8f9 50%,
    #9fd8ef 51%,
    #2ab0ed 100%
  );
}

html {
  overflow: hidden;
}

body,
table {
  margin: 0 auto;
  font-size: 22px;
}

.Main1 {
  overflow: auto;
  margin: 0 auto;
}

h2 {
  margin: 0;
  font-size: 100%;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

input {
  margin: 0;
  width: 0;
}

table {
  width: 95%;
  /*align-items: center;*/
}

table td {
  color: inherit;
  /* font-size: 32px; */
  text-align: center;
}

[id="local"] {
  background: lightyellow;
  color: orangered;
}

a {
  text-decoration: none;
  color: blue;
  letter-spacing: 2px;
  word-spacing: 4px;
}

a:visited {
  color: purple; /* 已访问链接颜色 */
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

td:hover {
  background-color: #ffff80;
  font-size: larger;
}

.box {
  width: 100%;
  border: 1px solid #999;
  overflow: auto;
}

.nav {
  margin-left: -1px;
  font: 32px "微软雅黑";
  overflow: hidden;
  background-color: #f1f1f1;
}

.navI {
  float: left;
  /* width: 25%; */
  /* width根据需要调整,100/n */
  width: {{ 100 / n|int  }}%;
  box-sizing: border-box;
}

.navI-tit {
  display: block;
  line-height: 32px;
  text-align: center;
  color: green;
  cursor: pointer;
  border-left: 1px solid #cecece;
  border-bottom: 1px solid #cecece;
}

.navI-txt {
  position: absolute;
  width: 98%;
  height: 95%;
  text-indent: 2em;
  left: 0;
  line-height: 2;
  background: #fff;
}

.ml1 {
  margin-left: -100%;
}

.ml2 {
  margin-left: -200%;
}

/*重点代码*/
.navI-radio {
  display: none;
}

.navI-radio:checked + .navI-tit {
  background: #fff;
  border-bottom: none;
}

.navI-radio:checked ~ .navI-txt {
  z-index: 1;
}

#currentSize {
  display: block; /* 确保元素是可见的 */
  margin-top: 10px;
  font-weight: bold;
}

.changeFontSize {
  display: flex; /* 使用 flexbox 布局 */
  align-items: center; /* 垂直居中对齐 */
  justify-content: flex-end; /* 内容靠右对齐 */
  gap: 12px; /* 按钮之间的间距 */
  font-size: 12px;
}
.changeFontSize:hover {
  font-size: larger;
}
